:root {
    /* Colores */
    --primary-color: #8EC4D0; /* Celeste */
    --primary-color-dark: #97BBC6; /* Celeste oscuro */
    --button-color: #DC7474; /* Rojo */
    --button-color-shadow: #DC747430; /* Rojo con opacidad */
    --background-light: #8EC4D0c2; /* Fondo claro */
    --text-light: #314449; /* Texto claro */
    --button-hover-light: #CB8688; /* Botón hover claro */
    --background-dark: #314449c2; /* Fondo oscuro */
    --text-dark: #8EC4D0; /* Texto oscuro */
    --button-dark: #5D3333; /* Botón oscuro */
    --button-hover-dark: #583535; /* Botón hover oscuro */
    --card-light: #ffffff; /* Tarjeta clara */
    --card-dark: #2c3e50; /* Tarjeta oscura */
    --card-text-dark: #ecf0f1; /* Texto de tarjeta oscura */
    --theme-toggle-light: #DC7474; /* Botón de cambio de tema claro */
    --theme-toggle-dark: #5D3333; /* Botón de cambio de tema oscuro */
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    background-image: url('../assets/imagen-login.webp');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(50%) blur(5px);
}

body {
    font-family: Mulish, sans-serif;
    overflow: hidden;
    display: flex;
    position: fixed;
    background-size: 100%;
    width: 100%;
}

.background {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    opacity: 0.5;
    background-size: auto;
    background-repeat: no-repeat;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#derecha {
    width: 100%;
}	

.sidebar-top {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.sidebar-top .logo {
    position: relative;
    width: 3.37rem;
    margin-right: 1.45rem;
    left: -0.125rem;
    border-radius: 25%;
}

.sidebar-top h2 {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.expand-btn {
    position: absolute;
    top: 50%;
    width: 2.8125rem;
    height: 2.8125rem;
    display: grid;
    place-items: center;
    background-color: var(--button-color);
    border-radius: 0.375rem;
    cursor: pointer;
    right: -3rem;
    transform: translateY(-50%) translateX(-0.5rem);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    box-shadow: 0 3px 10px -3px var(--button-color-shadow);
}

#sidebar:hover .expand-btn,
.expand-btn.hovered {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
    pointer-events: all;
}

.sidebar-links {
    block-size: 100%;
}

.sidebar-links ul,
.sidebar-bottom ul {
    list-style-type: none;
    position: relative;
    padding-left: 0;
}

.sidebar-links li,
.sidebar-bottom li {
    position: relative;
}

.sidebar-links li a,
.sidebar-bottom li a {
    padding: 2rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    height: 3.5rem;
    text-decoration: none;
}

.sidebar-links li a:hover {
    margin-bottom: 10px; /* Ajusta el valor según la separación deseada */
    transition: margin 0.3s ease; /* Añade una transición suave */
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    width: 1.625rem;
    height: 1.625rem;
    margin: auto;
}

.sidebar-links .link {
    margin-left: 2.5rem;
}

.sidebar-links .active {
    width: 100%;
    text-decoration: none;
    background-color: var(--primary-color-dark);
    transition: all 100ms ease-in;
    border-radius: 0.625rem;
    padding: 1rem;
    margin: 1%;
}

body.collapsed #sidebar {
    width: 5rem;
}

body.collapsed .hide {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

body.collapsed .expand-btn {
    transform: rotate(-180deg);
}

/* Tema Claro */
body.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

body.light button {
    background-color: var(--button-color);
    color: var(--text-light);
}

body.light button:hover {
    background-color: var(--button-hover-light);
}

#sidebar.light {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--primary-color);
    width: 18rem;
    padding: 1.8rem 0.85rem;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}

body.light .product-card {
    background-color: var(--primary-color);
}

body.light .card {
    background-color: var(--card-light);
    color: var(--text-light);
}

/* Tema Oscuro */
body.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

body.dark button {
    background-color: var(--button-dark);
    color: var(--text-dark);
}

body.dark button:hover {
    background-color: var(--button-hover-dark);
}

#sidebar.dark {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--background-dark);
    width: 18rem;
    padding: 1.8rem 0.85rem;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}

body.dark .product-card {
    background-color: var(--background-dark);
}

body.dark .card {
    background-color: var(--card-dark);
    color: var(--card-text-dark);
}

/* Botón de cambio de tema redondo dentro del recuadro */
.theme-toggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--theme-toggle-light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-toggle:hover {
    background-color: var(--button-hover-light);
    transform: rotate(45deg);
}

/* Íconos dentro del botón */
.theme-toggle .icon-sun,
.theme-toggle .icon-moon {
    font-size: 1.2rem;
    color: white;
    transition: transform 0.3s ease;
}

/* Cuando esté en tema oscuro */
body.dark .theme-toggle {
    background-color: var(--theme-toggle-dark);
}

body.dark .theme-toggle .icon-sun {
    display: none;
}

body.dark .theme-toggle .icon-moon {
    display: inline;
}

body.light .theme-toggle .icon-sun {
    display: inline;
}

body.light .theme-toggle .icon-moon {
    display: none;
}

body.dark a {
    color: var(--button-color);
}

body.light a {
    color: var(--button-dark);
}

h2 {
    font-family: 'Sixtyfour Convergence', sans-serif;
}

a:hover {
    background-color: var(--primary-color-dark);
    border-radius: 0.625rem;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

#product-list {
    margin-bottom: 100px; 
}

#paginacion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 1000; 
}

#paginacion button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#paginacion button:hover {
    background-color: var(--button-color-shadow);
}

body.light #paginacion button {
    background-color: var(--button-color);
    color: var(--text-light);
}

body.light #paginacion button:hover {
    background-color: var(--button-hover-light);
}

body.dark #paginacion button {
    background-color: var(--button-dark);
    color: var(--text-dark);
}

body.dark #paginacion button:hover {
    background-color: var(--button-hover-dark);
}

#pagar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.d-none {
    display: none;
}

.empty-cart-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#nuevo-producto-form {
    display: none;
}

#edit-producto-form {
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

/* Responsividad */
@media (max-width: 1000px) {
    .col-md-4 {
        width: 35% !important;
    }
    *::after, *::before {
        box-sizing: content-box;
    }
    #product-list {
        justify-content: space-evenly;
    }
}

.col-md-4 {
    flex: auto !important;
    max-width: 20em !important;
}

.hidden {
    display: none;
}
