<header id="header">
	<img src="/assets/Logo-Timeless-Pixel.webp" id="logo" alt="Timeless Pixel Logo">
	<h1 id="titulo">Timeless Pixel</h1>
</header>
<aside>
	<h1>Numero de orden: #<%= idVenta.id %></h1>
	<h2>Nombre: <%= idVenta.nombre %></h2>
	<p></p>
	<p>Estado: Pago</p>
	<p></p>
</aside>
<main>
	<table id="tabla">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	<div class="total-and-back">
		<p id="total-price"></p>
		<div>
			<button id="back-button">Volver</button>
			<button id="print-button">Imprimir PDF</button>
		</div>
	</div>
</main>
<footer>
</footer>